/* Corps de la page. */
body{
	font-family: Verdana, Arial, Sans;
	font-size: 13px;
	background: #CCCCCC;
}

/* Listes. */
#listes{
	display: inline-block;
}
#listes span{
	margin-right: 5px;
}
.OK{
	background: #0066CC;
}
.NOK{
	background: #FF0000;
}

/* Autres éléments. */
#titre{
	font-size: 16px;
}
#carte{
	display: inline-block;
}
#boutons{
	margin-top: 30px;
}
